.container-slider{
}
.item-slider{

    width: 400px;
    margin: 0px 5px;

    .slider-title{
        padding: 10px;
        font-weight: bold;
    }
}
.item-slider img{
    width: 100%;
}
.slider-box{
    width: 90%;
    margin: 0px auto;

}